html,body,#root,.App {
  height:100%;
}

.App {
  display: flex;
}

.mainScreenWrapper {
  flex-grow: 1;
}

.rightSidePanel {
  flex-basis: 25%;
  padding:25px;
}

.rightSidePanel table, .rightSidePanel th, .rightSidePanel td {
  border: 1px solid black;
}

.detailWindow {
  margin: 15px 1px;
}